* {
  box-sizing: border-box;
}

.hero-container {
  background-color: #24053e;
  padding-top: 32px;
}

.nav-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.main-title {
  color: #fff;
  text-align: center;
}

.features-wrapper {
  background-color: wheat;
}

.ornamental-image {
  width: 100%;
  margin-top: -120px;
}

.main-image {
  width: 100%;
}

.features-list {
  padding-left: 0;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  height: 200px;
  width: 33%;
  margin-right: 16px;
}

.incentive-wrapper {
  background-color: white;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.founder-picture-wrapper {
  width: 30%;
}

.founder-picture {
  width: 100%;
}

.incentive-content {
  width: 70%;
  background-color: #24053e;
  position: relative;
  top: 50px;
  left: -80px;
}
